GitHubDataBenchmark filter=lfs diff=lfs merge=lfs -text
GitHubDataBenchmark/ filter=lfs diff=lfs merge=lfs -text
GitHubDataBenchmark/** filter=lfs diff=lfs merge=lfs -text
EvoSuiteBenchmark filter=lfs diff=lfs merge=lfs -text
EvoSuiteBenchmark/ filter=lfs diff=lfs merge=lfs -text
EvoSuiteBenchmark/** filter=lfs diff=lfs merge=lfs -text
PynguinBenchmark filter=lfs diff=lfs merge=lfs -text
PynguinBenchmark/ filter=lfs diff=lfs merge=lfs -text
PynguinBenchmark/** filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text